absl-py==0.9.0
appnope==0.1.0
argon2-cffi==20.1.0
astor==0.8.1
async-generator==1.10
attrs==20.3.0
autograd==1.4
backcall==0.2.0
bleach==3.2.1
cachetools==4.1.0
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
click==7.1.2
cloudpickle==1.1.1
CM2C==2.1.0
colorama==0.4.4
contextlib2==0.6.0.post1
cycler==0.10.0
Cython==0.29.21
dataclasses==0.8
debugpy==1.5.1
decorator==4.4.2
deepul==0.1.0
deepul-helper==0.1.0
deepwalk==1.0.3
defusedxml==0.6.0
dm-sonnet==1.29
dm-tree==0.1.5
docopt==0.6.2
easydict==1.9
entrypoints==0.3
facenet-pytorch==2.5.2
Flask==1.1.2
future==0.18.2
gast==0.2.2
gensim==3.4.0
geoopt==0.1.2
gitdb==4.0.9
GitPython==3.1.18
google-api-core==2.7.2
google-api-python-client==1.12.11
google-auth==1.18.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.1
google-cloud-core==2.3.0
google-cloud-storage==2.0.0
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.3.2
googleapis-common-protos==1.56.0
googledrivedownloader==0.4
grpcio==1.29.0
gurobipy==9.1.2
h2tools==1.1.1
h5py==2.10.0
httplib2==0.20.4
httplib2shim==0.0.3
idna==2.9
igraph==0.1.11
imagecodecs==2020.2.18
imageio==2.8.0
imgaug==0.4.0
importlib-metadata==1.6.1
ipykernel==5.4.2
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.17.1
Jinja2==2.11.2
joblib==0.15.1
jsonpickle==1.5.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lapjv==1.3.12
lapsolver==1.1.0
LCN==1.0
llvmlite==0.32.1
lmdb==1.3.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.4
maxvolpy==0.3.8
mistree==1.2.0
mistune==0.8.4
mkl-service==2.4.0
munch==2.5.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
networkx==2.4
notebook==6.1.5
numba==0.49.1
numpy==1.18.4
oauthlib==3.1.0
opencv-python==4.2.0.34
opt-einsum==3.3.0
packaging==20.8
pandas==1.0.3
pandocfilters==1.4.3
parso==0.7.0
patsy==0.5.1
pexpect==4.8.0
pgmpy==0.1.11
pickleshare==0.7.5
Pillow==7.1.2
plyfile==0.7.2
POT==0.8.2
progressbar2==3.55.0
prometheus-client==0.9.0
prompt-toolkit==3.0.5
protobuf==3.12.2
psutil==5.8.0
ptyprocess==0.6.0
py-cpuinfo==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.6.1
pymanopt==0.2.5
pymongo==4.0.1
pyparsing==2.4.7
pyprof2calltree==1.4.5
pypropack==0.0.0
pyrsistent==0.17.3
python-dateutil==2.8.1
python-Levenshtein==0.12.2
python-louvain==0.15
python-utils==2.6.3
pytorch-msssim==0.2.1
pytube==11.0.2
pytz==2020.1
pyvis==0.2.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==20.0.0
qpth==0.0.15
qtconsole==5.0.1
QtPy==1.9.0
rdflib==5.0.0
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.6
sacred==0.8.2
scikit-image==0.17.2
scikit-learn==0.23.0
scipy==1.4.1
seaborn==0.10.1
semantic-version==2.8.5
seml==0.3.3
Send2Trash==1.5.0
Shapely==1.7.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open==5.0.0
smmap==5.0.0
snakeviz==2.1.1
sortedcontainers==2.3.0
statsmodels==0.11.1
tabulate==0.8.7
tensorboard==1.15.0
tensorboard-plugin-wit==1.6.0.post3
tensorboardX==2.1
tensorflow==1.15.4
tensorflow-estimator==1.15.1
tensorflow-probability==0.8.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
Theano==1.0.5
threadpoolctl==2.0.0
tifffile==2020.5.11
torch==1.7.1
torch-cluster==1.5.9
torch-geometric==1.7.2
torch-scatter==2.0.7
torch-sparse==0.6.9
torch-spline-conv==1.2.1
torchvision==0.8.2
tornado==6.1
tqdm==4.46.0
traitlets==4.3.3
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.25.9
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==3.1.0
